* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background: linear-gradient(to left, #222222f5, #212121);
    font: arial 20px bolder;
}

header {
    text-align: center;
    padding: 3rem 2rem;
    margin: 0 auto;
    border-bottom: 1px solid white;
    position: fixed;
    background: linear-gradient(to left, #222222f5, #212121);
    width: 100%;
}

footer p {
    text-align: center;
}

ul {
    list-style: none;
}