* {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 60px;
    text-align: center;
    display: inline;
    padding: 0.5rem;
    gap: 0,2rem;
}

.navbar {
    color: black;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {

}

body {
    background: linear-gradient(to left,blue,white);
    font: arial 20px bolder;
}


footer p {
    text-align: center;
}



ul {
    list-style: none;
}